html, body {
    font-family: "Roboto";
    box-sizing: border-box;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 20vh; //del
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 16px 16px;

    &__header-text {
        display: flex;
        align-items: center;
        justify-content: center;
    
        padding: 27px 0;
        font-size: 18px;
    }

    &__btn-wrap {
        display: flex;
        justify-content: space-between;
    
        width: 100%;
        //max-width: 460px;
        grid-gap: 16px;
    
        .btn--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            //padding: 15px 40px;
    
            background-color: #fff;
            border: 1px solid #d1d7e8;
            border-radius: 15px;
        
            width: 90%;
        
            .btn-icon {
                width: 25px;
                height: 25px;
            }
        }
    
        .btn--icon:hover {
            border: 1px solid #121212;
        }
    }
    
    &__login-method {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 94%;
        height: 48px;
        //max-width: 450px;
        margin-top: 16px;
        padding: 0px 24px;
    
        text-decoration: none;
        color: #121212;
    
        border: 1px solid #d1d7e8;
        border-radius: 50px;
    }
    
    &__login-method:hover {
        border: 1px solid #121212;
    }
    
    &__mid-text {
        margin: 24px 0;
        font-size: 15px;
    }
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;

    padding: 0 16px 16px;

    &__input {
        width: 94%;
        //max-width: 450px;
        padding: 16px;

        border: 1px solid #d1d7e8;
        border-radius: 8px;

        font-size: 14px;

        outline: none;
    }

    &__error-text {
        width: 94%;
        margin-top: 6px;
        font-size: 12px;
        float: left; 

        color: #F84564;
    }

    &__error-text {
        display: none;
    }
}

.btn--accent {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    //max-width: 450px;
    height: 48px;
    margin-top: 16px;
    padding: 0 16px;
    
    border-radius: 50px;
    border: none;

    background-color: #ABC232;
    color: #fff;

    text-decoration: none;

    &:hover {
        background: #9AAE2D;
    }
}

// display none on mobile 
#login-method-by-email{
    display: none;
}

.field--hidden {
    display: none;
}

#login-tel {
    display: none;
}

