html, body {
  font-family: "Roboto";
  box-sizing: border-box;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 20vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px 16px;
}
.form__header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0;
  font-size: 18px;
}
.form__btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-gap: 16px;
}
.form__btn-wrap .btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #fff;
  border: 1px solid #d1d7e8;
  border-radius: 15px;
  width: 90%;
  cursor: pointer;
}
.form__btn-wrap .btn--icon .btn-icon {
  width: 25px;
  height: 25px;
}
.form__btn-wrap .btn--icon:hover {
  border: 1px solid #121212;
}
.form__login-method {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: 48px;
  margin-top: 16px;
  padding: 0px 10px;
  text-decoration: none;
  color: #121212;
  border: 1px solid #d1d7e8;
  border-radius: 50px;
  cursor: pointer;
}
.form__login-method:hover {
  border: 1px solid #121212;
}
.form__mid-text {
  margin: 24px 0;
  font-size: 15px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0 16px 16px;
}
.field__input {
  width: 94%;
  padding: 16px;
  border: 1px solid #d1d7e8;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}
.field__error-text {
  width: 94%;
  margin-top: 6px;
  font-size: 12px;
  float: left;
  color: #F84564;
}
.field__error-text {
  display: none;
}

.btn--accent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin-top: 16px;
  padding: 0 16px;
  border-radius: 50px;
  border: none;
  background-color: #ABC232;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.btn--accent:hover {
  background: #9AAE2D;
}

#login-method-by-email {
  display: none;
}

.field--hidden {
  display: none;
}

#login-tel {
  display: none;
}

#regist-none {
  display: none;
}

.regist-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px 16px;
}
.regist-field__header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 27px 0;
  font-size: 18px;
}
.regist-field__switcher {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  margin-bottom: 20px;
  grid-gap: 4px;
  background: #EEEEF2;
  border-radius: 12px;
}
.regist-field #traveler {
  background-color: #FFFFFF;
}
.regist-field__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  font-weight: 500;
  line-height: 18px;
  color: #121212;
  cursor: pointer;
}
.regist-field__btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-gap: 16px;
}
.regist-field__btn-wrap .btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  background-color: #fff;
  border: 1px solid #d1d7e8;
  border-radius: 15px;
  width: 90%;
  cursor: pointer;
}
.regist-field__btn-wrap .btn--icon .btn-icon {
  width: 25px;
  height: 25px;
}
.regist-field__btn-wrap .btn--icon:hover {
  border: 1px solid #121212;
}
.regist-field__mid-text {
  margin: 24px 0;
  font-size: 15px;
}
.regist-field__email {
  display: flex;
  width: 100%;
  margin-top: 30px;
}
.regist-field__phone {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
.regist-field__password {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.initials {
  display: flex;
  justify-content: center;
  width: 100%;
}
.initials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}
.initials__input {
  width: 100%;
  padding: 16px;
  border: 1px solid #d1d7e8;
}
.initials #name {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-width: .5px;
}
.initials #surname {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right-width: .5px;
}

/*# sourceMappingURL=style.css.map */
